<div [class]="'mainTodoContainer'">
  <div>
    <app-active
      [moveTodo]="moveTodo"
      [activeData]="activeData"
      (activeDataEvent)="updateActiveData($event)"
      (pendingDataEvent)="updatePendingData($event)"
      (doneDataEvent)="updateDoneData($event)"
    ></app-active>
  </div>
  <div>
    <app-inactive
      [moveTodo]="moveTodo"
      [pendingData]="pendingData"
      (activeDataEvent)="updateActiveData($event)"
      (pendingDataEvent)="updatePendingData($event)"
      (doneDataEvent)="updateDoneData($event)"
    ></app-inactive>
  </div>
  <div>
    <app-done
      [moveTodo]="moveTodo"
      [doneData]="doneData"
      (activeDataEvent)="updateActiveData($event)"
      (pendingDataEvent)="updatePendingData($event)"
      (doneDataEvent)="updateDoneData($event)"
    ></app-done>
  </div>
</div>
